*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/trab1/Library/nbproject/private/
/trab1/ClientApp/nbproject/private/
/trab1/ServerApp/nbproject/private/
/ISTrab1_library/nbproject/private/
/trab1/Library/build/
/trab1/ClientApp/build/
/trab1/ServerApp/build/
/trab1/Library/dist/
/trab1/ClientApp/dist/
/trab1/ServerApp/dist/